body {
    background-image: url(images/backdrop.gif);
    font-family: Georgia, 'Times New Roman', serif;
    color: rgb(131, 88, 24);
    width: 720px;
    margin: 0 auto;
}

figure.title {
    text-align: center;
    margin: 30px auto 10px auto;
}

figcaption {
    background-position: left;
    background-position-x: 10px;
    background-image: url(images/icon.png);
    padding-left: 30px;
    background-repeat: no-repeat;
}

figcaption.title {
    margin: 10px;
    background-image: none;
}

figure.center {
    box-shadow: 4px 2px grey;
    background-color: #e7e3d8;
    width: 220px;
    height: 190px;
    text-align: left;
    float: left;
    margin: 8px;
    border: 1px solid grey;
}

img {
    padding: 10px 10px 3px 10px;
}

