body {
    background-color: beige;
}

article {
    background-color: rgb(202, 200, 200);
    border: 1px solid black;
    border-radius: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, auto);
}

section * {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}